<?xml version="1.0"?>
<ruleset name="Translations Cache">
	<description>Coding Standard for the "Translations Cache" mu-plugin.</description>

	<file>.</file>

	<rule ref="Required"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="translations-cache"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="Required\TranslationsCache"/>
			</property>
		</properties>
	</rule>

	<rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
		<properties>
			<property name="declareOnFirstLine" value="false"/>
			<property name="linesCountBeforeDeclare" value="1"/>
			<property name="linesCountAfterDeclare" value="1"/>
			<property name="spacesCountAroundEqualsSign" value="0"/>
		</properties>
	</rule>

	<rule ref="SlevomatCodingStandard.Commenting.ForbiddenAnnotations">
		<properties>
			<property name="forbiddenAnnotations" type="array" extend="true">
				<element value="@since"/>
			</property>
		</properties>
	</rule>
</ruleset>
